* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    padding: 1%;
    margin: 20vh 20vw 20vh 20vw;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 10px;
}

#container {
    margin: 10%;
}

#title {
    font-size: 2.5vw;
    margin-bottom: 2vh;
}

#description {
    font-size: 1.5vw;
    margin-bottom: 4vh;
}

#question {
    font-size: 1.2vw;
    margin-bottom: 4vh;
    min-height: 5vh;
}

.buttons {
    margin: 1vh 1.25vw;
    padding: 1%;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 25px;
    border: 1px solid #209bff;
    background-color: transparent;
    transition: background-color 0.3s;
}

.buttons:hover {
    background-color: #209bff;
    cursor: pointer;
}

.buttons > p {
    margin-top: 3.5vw;
    font-size: 1vw;
}

.nxt-pre-button {
    margin: 2vh 0.75vw;
    padding: 1%;
    width: 6vw;
    height: 3vw;
    background-color: #209bff;
    color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.nxt-pre-button:hover {
    background-color: transparent;
    color: #209bff;
    border: 2px solid #209bff;
    cursor: pointer;
}