* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: radial-gradient(circle, #0072D1, #005f99);
}

#content {
    padding: 1%;
    margin: 20vh 20vw 20vh 20vw;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.355);
    border-radius: 10px;
}

#container {
    margin: 10%;
}

#title {
    font-size: 2.5vw;
    margin-bottom: 2vh;
}

#description {
    font-size: 1.5vw;
    margin-bottom: 4vh;
}

#question {
    font-size: 1.2vw;
    margin-bottom: 4vh;
    min-height: 5vh;
}

.choice-buttons {
    margin: 1vh 1.25vw;
    padding: 1%;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 25px;
    border: 1px solid #0072D1;
    background-color: transparent;
    transition: background-color 0.3s;
}

.choice-buttons:hover {
    background-color: #0072D1;
    cursor: pointer;
}

.selected {
    background-color: #0072D1;
}

.choice-buttons > p {
    margin-top: 3.5vw;
    font-size: 1vw;
}

.nxt-pre-strt-button {
    margin: 2vh 0.75vw;
    padding: 1%;
    width: 6vw;
    height: 3vw;
    background-color: #0072D1;
    color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.nxt-pre-strt-button:hover {
    background-color: transparent;
    color: #0072D1;
    border: 2px solid #0072D1;
    cursor: pointer;
}